{% extends "jimapp/base.html" %}
{% load i18n %}
{% comment %} {% load staticfiles %} {% endcomment %}
{% load static %}
{% block link %}
    <meta name="robots" content="follow, all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% trans "Blog Technologies, startups and Entrepreneurship" %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock meta-keywords %}" />
    <meta name="author" content="Fantomas42" />

    {% block title %}{% trans "Server error" %}{% endblock title %}
    {% block meta %}{% endblock meta %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="{% static "zinnia/theme/img/favicon.ico" %}" />
    {% comment %} <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" /> {% endcomment %}
    {% comment %} CUSTOM SEARCH CSS FOR LIST OF ARTICLES AND SEARCH FORM {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'jimapp/css/list_posts.css' %}" type="text/css" media="screen" title="css for posts list" charset="utf-8"> {% endcomment %}
    {% comment %} 
    Commented because these css override the css of base.html
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/screen.css" %}" />
        <link rel="stylesheet" type="text/css" media="print" href="{% static "zinnia/theme/css/print.css" %}" /> 
    {% endcomment %}
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/ie.css" %}" />
    <![endif]-->
{% endblock link %}

{% block section_hero %}
    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Decouvrer nos recents <span>Articles</span></h1>
            <h2>Nous ecrivons sur la tech, les startups, dev-tools & sa nous arrivent aussi d'ecrires des blages</h2>
            {% comment %} <div class="text-center text-lg-left"> {% endcomment %}
              {% comment %} <a href="#about" class="btn-get-started scrollto">Get Started</a> {% endcomment %}
            {% comment %} </div> {% endcomment %}
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="{% static 'jimapp/assets/img/about.png' %}" class="img-fluid no-animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        {% comment %}
            DESACTIVE WAVE ANIMATION OF HERO_BOTTOM
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs> 
        {% endcomment %}
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>
{% endblock section_hero %}

{% comment %} PAGE CONTENT {% endcomment %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {% block blog_top_searchBar %}
                    <div class="search">
                      {% comment %} <h2>{% trans "Search" %}</h2> {% endcomment %}
                      {% include "zinnia/tags/search_form.html" %}
                    </div>
                {% endblock blog_top_searchBar %}
                {% block slider %}{% endblock slider %}
            </div>
            <div class="col-md-12">
                <div class="row">
                    <!-- POST CONTENT COLUMN -->
                    <div id="content" class="col-md-12 hfeed" role="main">
                        {% block content %}
                          {% comment %} Display list of articles here	 {% endcomment %}
                            error-500

                            <h1>{% trans "Server error" %}</h1>

                            <p>{% trans "There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience." %}</p>

                            {{ block.super }}
                        {% endblock content %}
                    </div>

                    {% comment %} BLOG SIDE BAR {% endcomment %}
                    {% comment %} <div id="sidebar" class="col-md-4" role="complementary"> {% endcomment %}
                        {% comment %} {% block sidebar %} {% endblock sidebar %} {% endcomment %}
                    {% comment %} </div> {% endcomment %}

                    {% comment %} Useful links {% endcomment %}
                    <div class="col-md-8">
                        {% block useful_links %}
                            <div class="links">
                                  <h2>{% trans "Useful links" %}</h2>
                                  <ul>
                                    <li>
                                      {% comment %} <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "Weblog index" %}"> {% endcomment %}
                                        {% trans "Weblog index" %}
                                      </a>
                                    </li>
                                    <li>
                                      {% comment %} <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}"> {% endcomment %}
                                        {% trans "Sitemap" %}
                                      </a>
                                    </li>
                                  </ul>
                            </div>
                        {% endblock useful_links %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
