{% extends "jimapp/base.html" %}
{% load i18n %}
{% comment %} {% load staticfiles %} {% endcomment %}
{% load static %}
{% block link %}
    <meta name="robots" content="follow, all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% trans "Blog Technologies, startups and Entrepreneurship" %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock meta-keywords %}" />
    <meta name="author" content="Fantomas42" />
    {% block meta %}{% endblock meta %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="{% static "zinnia/theme/img/favicon.ico" %}" />
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
    {% comment %} 
    Commented because these css override the css of base.html
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/screen.css" %}" />
        <link rel="stylesheet" type="text/css" media="print" href="{% static "zinnia/theme/css/print.css" %}" /> 
    {% endcomment %}
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/ie.css" %}" />
    <![endif]-->
{% endblock link %}

{% comment %} EXTENDS HOME-NAV-BAR FOR BLOG {% endcomment %}
{% block jimapp_home_nav %}
    <li><a href="{% url 'jimapp:home' %}">Home</a></li>
    <li class="active"><a href="{% url 'jimapp:post' %}">Blog</a></li>
    <li>
      <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap" rel="sitemap">
        {% trans "Sitemap" %}
      </a>
    </li>
    <li>
      <a href="{% url 'zinnia:entry_feed' %}" title="{% trans "RSS feed of last entries" %}" class="feeds">
        {% trans "RSS feed" %}
      </a>
    </li>
    <li><a href="#contact">Contact</a></li>
    {% comment %} CHANGE GET-STARTED CONTENT TEXT {% endcomment %}
    <li class="get-started">
      <a href="" data-toggle="modal" data-target="#modalRegisterForm">
          {% trans "Discover Jady" %}
      </a>
    </li>
{% endblock jimapp_home_nav %}

{% comment %} HERO POST IMAGE {% endcomment %}
{% block section_hero %}
    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Decouvrer nos recents <span>Articles</span></h1>
            <h2>Nous ecrivons sur la tech, les startups, dev-tools & sa nous arrivent aussi d'ecrires des blages</h2>
            {% comment %} <div class="text-center text-lg-left"> {% endcomment %}
              {% comment %} <a href="#about" class="btn-get-started scrollto">Get Started</a> {% endcomment %}
            {% comment %} </div> {% endcomment %}
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="{% static 'jimapp/assets/img/about.png' %}" class="img-fluid no-animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        {% comment %}
            DESACTIVE WAVE ANIMATION OF HERO_BOTTOM
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs> 
        {% endcomment %}
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>
{% endblock section_hero %}

{% comment %} PAGE CONTENT {% endcomment %}
{% block main %}
    <div class="container">
      {% block slider %}{% endblock slider %}
      <div id="content" class="hfeed" role="main">
        {% block content %}
            {% block blog_top_searchBar %}
                <div class="search">
                  {% comment %} <h2>{% trans "Search" %}</h2> {% endcomment %}
                  {% include "zinnia/tags/search_form.html" %}
                </div>
            {% endblock blog_top_searchBar %}
            {% block useful_links %}
                <div class="links">
                      <h2>{% trans "Useful links" %}</h2>
                      <ul>
                        <li>
                          <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "Weblog index" %}">
                            {% trans "Weblog index" %}
                          </a>
                        </li>
                        <li>
                          <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}">
                            {% trans "Sitemap" %}
                          </a>
                        </li>
                      </ul>
                </div>
            {% endblock useful_links %}
        {% endblock content %}
      </div>
      <div id="sidebar" role="complementary">
        {% block sidebar %}
        {% endblock sidebar %}
      </div>
    </div>
{% endblock main %}
