{% extends "jimapp/skeleton.html" %}
{% load i18n %}
{% load zinnia %}
{% load static %}

{% block meta-keywords %}{% get_tags as entry_tags %}{{ entry_tags|join:", "}}{% endblock meta-keywords %}

{% block meta %}
    <meta name="generator" content="Zinnia {{ ZINNIA_VERSION }}" />
{% endblock meta %}

{% block link %}
    <link rel="index" href="{% url 'zinnia:entry_archive_index' %}" />
    <link rel="author" type="text/plain" href="{% url 'zinnia:humans' %}" />
    <link rel="EditURI" type="application/rsd+xml" href="{% url 'zinnia:rsd' %}" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% url 'zinnia:wlwmanifest' %}" />
    <link rel="search" type="application/opensearchdescription+xml" title="Zinnia's Weblog" href="{% url 'zinnia:opensearch' %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS feed of last entries" %}" href="{% url 'zinnia:entry_feed' %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS feed of last discussions" %}" href="{% url 'zinnia:discussion_feed' %}" />
    {% comment %} CUSTOM CSS FOR LIST and DETAIL OF ARTICLES AND SEARCH FORM {% endcomment %}
    <link rel="stylesheet" href="{% static 'jimapp/css/list_posts.css' %}" type="text/css" media="screen" title="css for posts list" charset="utf-8">
	{% comment %} FOR DETAIL OF ARTICLES {% endcomment %}
    <link rel="stylesheet" href="{% static 'jimapp/css/entry_detail.css' %}" type="text/css" media="screen" title="css for posts list" charset="utf-8">
    {% block base_link %}
      <link href="{% static 'jimapp/assets/css/style.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'jimapp/assets/css/custom.css' %}">
    {% endblock base_link %}
    {% get_archives_entries "zinnia/tags/entries_archives_link.html" %}
{% endblock link %}

{% block entry-widgets %}
    {% comment %} Place here entry detail widgets here	 {% endcomment %}
{% endblock entry-widgets %}
