{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
{% block head %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
    {% block title %}
      Inner Page - Bootslander Bootstrap Template
    {% endblock %}
    </title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'jimapp/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'jimapp/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'jimapp/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'jimapp/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'jimapp/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'jimapp/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'jimapp/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'jimapp/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'jimapp/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'jimapp/toast-master/css/jquery.toast.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  {% block base_link %}
      <link href="{% static 'jimapp/assets/css/style.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'jimapp/assets/css/custom.css' %}">
  {% endblock base_link %}
  {% comment %}
        mdbootstrap: TODO: botweb_todo: download mdbootstrap
  {% endcomment %}
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Bootslander - v2.2.0
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  {% block link %}{% endblock link %}
  {% block script %}{% endblock script %}
  {% block custom_static %}
      {% comment %} Place here code to load css, js, font... for extended page {% endcomment %}
  {% endblock custom_static %}
    
{% endblock head %}
</head>

<body>
{% block body %}

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
  {% block header %}
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="#"><span>JimBot</span></a></h1>
        {% comment %} <!-- Uncomment below if you prefer to use an image logo --> {% endcomment %}
        {% comment %} <a href="#"><img src="{% static 'jimapp/assets/img/logo.png' %}" alt='' class='img-fluid'></a> {% endcomment %}
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          {% block jimapp_home_nav %}
            <li class="active"><a href="{% url 'jimapp:home' %}">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#pricing">Pricing</a></li>
            {% comment %} <li><a href="{% url 'zinnia:entry_archive_index' %}">Blog</a></li> {% endcomment %}
            <li><a href="#contact">Contact</a></li>
            <li class="get-started"><a href="" data-toggle="modal" data-target="#modalRegisterForm">{% trans "Get Started" %}</a></li>
          {% endblock jimapp_home_nav %}
            <li class="drop-down">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_language_info for LANGUAGE_CODE as curr_lang %}
            <a href="/{{ curr_lang.code }}/">{{ curr_lang.name_local }}</a>
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
              <ul>
                {% for lang in languages %}
                  <li><a href="/{{ lang.code }}/">{{ lang.name_local }}</a></li>
                {% endfor %}
              </ul>
          </li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  {% endblock header %}
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  {% block hero_section %}
      <section id="hero">
        {% comment %} First Section Header	 {% endcomment %}
        {% block section_hero %}

        {% endblock section_hero %}
      </section>
  {% endblock hero_section %}
  {% comment %} <!-- End Hero --> {% endcomment %}

  <main id="main">
    {% block main %}
    {% comment %} Put main content from index here {% endcomment %}
    {% endblock %}
  </main>
  {% comment %} End #main {% endcomment %}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    {% block footer %}

    {% comment %} Section Newsletter {% endcomment %}
    {% block newsletter %}
    <div class="footer-newsletter" data-aos="fade-up">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>{% trans "Join Our Newsletter" %}</h4>
            <p style="color: dimgray;">
                {% trans "join us starters and stay informed of the news that makes the difference" %}
            </p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock newsletter %}

    {% block footer_top %}
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-12">
            <div class="footer-info">
              <h3>JimBot</h3>
              <p class="pb-3"><em>Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.</em>
              </p>
              <p>
                A108 Adam Street, NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55 || <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endblock footer_top %}

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>JimBot</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
    	
    {% endblock footer %}
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'jimapp/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'jimapp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'jimapp/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'jimapp/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'jimapp/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'jimapp/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'jimapp/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'jimapp/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'jimapp/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'jimapp/assets/js/main.js' %}"></script>

  {% comment %} <!-- -------------------------------------------------------------------------- 
        mdbootstrap
  --------------------------------------------------------------------------> {% endcomment %}
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
{% if messages %}
  <!-- Sweet-Notification-Alert  -->
  {% comment %} <script src="{% static 'jimapp/toast-master/js/toastr.js' %}"></script> {% endcomment %}
  <script>
      {% for message in messages %}
        $(document).ready(function () {
          $(function() {
            {% if message.tags == 'info' %}
                $.toast({
                  heading: 'Information',
                  text: "{{message}}",
                  position: 'top-right',
                  loaderBg:'#ff6849',
                  icon: 'info',
                  hideAfter: 8000, 
                  stack: 6
                });
            {% endif %}
            {% if message.tags == 'warning' %}
              $.toast({
                heading: 'WARRING',
                text: "{{message}}",
                position: 'top-right',
                loaderBg:'#ff6849',
                icon: 'warning',
                hideAfter: 3500, 
                stack: 6
              });
            {% endif %}
            {% if message.tags == 'success' %}
              $.toast({
                heading: 'RESSITE !',
                text: "{{message}}",
                position: 'top-right',
                loaderBg:'#ff6849',
                icon: 'success',
                hideAfter: 3500, 
                stack: 6
              });
            {% endif %}
            {% if message.tags == 'error' %}
              $.toast({
                heading: 'ERREUR',
                text: "{{message}}",
                position: 'top-right',
                loaderBg:'#ff6849',
                icon: 'error',
                hideAfter: 3500
              });
            {% endif %}
            });
        });
      {% endfor %}
  </script>
  <script src="{% static 'jimapp/toast-master/js/jquery.toast.js' %}"></script>
{% endif %}

{% endblock body %}
</body>

</html>
