{% extends "jimapp/base_blog.html" %}
{% load static %}


{% block section_hero %}

{% endblock section_hero %}

{% comment %} TODO : Changer la couleur des lien dans le post en blue comme le header {% endcomment %}
{% block content %}
<div style="width: 100%; margin: 5px auto;">
  <div class="bacon-blog-post bacon-shadow">
    <img src="{{ object.image.crop.1110x513 }}" class="wp-post-image">
    <div class="bacon-blog-post-inner">
        <h2 class="text-center"><a href="{{ object.get_absolute_url }}" rel="bookmark" title="Permanent link to Finding What Challenges You" class="title-row">
                {{ object.title|title }}
        </a></h2>
        {% autoescape off %}
            {{ object.content }}
        {% endautoescape %}
    </div>
  </div>
</div>
{% endblock content %}

{% block useful_links %}
	
{% endblock useful_links %}
