				<div class="col-lg-4">
					<div class="blog-grid">
						<div class="blog-img">
                            <div class="date">{{ post.publication_date }}</div>
                            <a href="{{ post.get_absolute_url }}">
								<img src="{{ post.image.thumbnail.350x280 }}" title="" alt="">
                                {% comment %} <img src=" https://via.placeholder.com/350x280/FFB6C1/000000" title="" alt=""> {% endcomment %}
							</a>
						</div>
						<div class="blog-info">
                            <h5><a href="{{ post.short_url }}">{{ post.title }}</a></h5>
                            <p>{{ post.lead|truncatechars:70 }}</p>
							<div class="btn-bar">
								<a href="{{ post.short_url }}" class="px-btn-arrow">
									<span>Read More</span>
									<i class="arrow"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
