
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load bootstrap4 %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      {% block title %}
          You are logged !
      {% endblock %}
  <style>
    *{
      margin:0;
      padding:0;
    }
  </style>
  </head>
  <body>
    
    {% block main_content %}
    <div class="bg-dark   jumbotron" style="min-height: 840px" >
    <!--error or success  message display -->
      <div class="messages pt-2 mt-2 mb-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
        {% endfor %}
      </div>
    
    <!--main content-->
          <div class=" text-center text-light container-fluid">
          <h1 class="text-light p-4">Hello, world!</h1>

          {% if request.user.is_authenticated %}
          <p class="p-5 display-4">Welcome  <i class=" display-3 text-info">{{request.user.username|title}}</i>
          Your email id is <i class="text-success" >{{request.user.email}}
          </i>
          </p>
          <a href="#" class="btn btn-success"> Update Profile</a>

          <a href="{% url 'jimapp:logout' %}" class="btn btn-danger">LOGOUT</a>
          </div>
          {% else %}
            <p class="text-light">Please <a href="{% url 'jimapp:home'%}">Login</a> or <a href="{% url 'jimapp:register' %}">Register</a> to see Your details</p>

          {% endif %}
    </div>
    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>