{% load i18n %}
{% load static %}
<form method="get" class="input-group" id="custom_search" action="{% url 'zinnia:entry_search' %}">
    <div class="input-group">
		<input type="search" id="search_input" class="form-control" placeholder="Search this blog">
		<div class="input-group-append">
		  <button class="btn btn-secondary" type="submit">
			<i class="fa fa-search"></i>
		  </button>
		</div>
  </div>
</form>
